@import "./_tailwind.css";
@import "./base.css";
@import "./prism.css";
@import "./utilities.css";

.bg-diagonal {
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(
		45deg,
		var(--color-gray-200) 0,
		var(--color-gray-200) 1px,
		transparent 0,
		transparent 50%
	);

	@media (prefers-color-scheme: dark) {
		background-image: repeating-linear-gradient(
			45deg,
			var(--color-neutral-800) 0,
			var(--color-neutral-800) 1px,
			transparent 0,
			transparent 50%
		);
	}
}

.single-highlight .highlight {
	margin-left: -0.5em;
	margin-right: -0.5em;
}
